.footer__row
    - for(let i = 0 ; i < 3 ; i++)
        .footer__col
            h3.footer__col-title Random Stuff
            .footer__col-link
                a(href='#') Etiam feugiat condimentum
                a(href='#') Aliquam imperdiet suscipit odio
                a(href='#') Sed porttitor cras in erat nec
                a(href='#') Felis varius pellentesque potenti
                a(href='#') Nullam scelerisque blandit leo
    .footer__contact
        h3.footer__contact-title Contact Us
        ul.footer__contact-social
            li: a(href='#') <i class="fab fa-twitter"></i>
            li: a(href='#') <i class="fab fa-facebook-f"></i>
            li: a(href='#') <i class="fab fa-instagram"></i>
            li: a(href='#') <i class="fab fa-linkedin-in"></i>
            li: a(href='#') <i class="fab fa-facebook-messenger"></i>
        p.footer__contact-text 1234 Fictional Road
        p.footer__contact-text Nashville, TN 00000
        p.footer__contact-text (800) 555-0000
.footer__copy
    p.footer__copy-text Untitled. All rights reserved

