.container
    .row
        .footer__col
            h3.footer__title
            .footer__link
            a(href='#') Etiam feugiat condimentum
            a(href='#') Aliquam imperdiet suscipit odio
            a(href='#') Sed porttitor cras in erat nec
            a(href='#') Felis varius pellentesque potenti
            a(href='#') Nullam scelerisque blandit leo
        .footer__contact
            h3.footer__title
            ul
                li
                    a(href='') f
                li
                    a(href='') f
                li
                    a(href='') f
                li
                    a(href='') f
                li
                    a(href='') f
            p.footer__text 1234 Fictional Road
            p.footer__text Nashville, TN 00000
            p.footer__text (800) 555-0000
    .row
        p.footer__copy Untitled. All rights reserved

