header
    h1.brand My Lorem
    nav
        ul
            li 
                a.active(href='#') Welcome
            li 
                a(href='#') Dropdown
            li 
                a(href='#') Left Sidebar
            li 
                a(href='#') Right Sidebar
            li 
                a(href='#') No Sidebar