header.header
    h1.header__brand My Lorem
    nav.nav
        ul.nav__items
            li.nav__items-link: a.active(href='#') Welcome
            li.nav__items-link: a(href='#') Dropdown
            li.nav__items-link: a(href='#') Left Sidebar
            li.nav__items-link: a(href='#') Right Sidebar
            li.nav__items-link: a(href='#') No Sidebar