.about__row
    .about__column-one 
        h3.about__section Interesting stuff
        .projects
            .projects__col
                img(src='./assets/images/pic04.jpg' alt='Imagen project')
            .projects__col
                img(src='./assets/images/pic05.jpg' alt='Imagen project')
            .projects__col
                img(src='./assets/images/pic06.jpg' alt='Imagen project')
            .projects__col
                img(src='./assets/images/pic07.jpg' alt='Imagen project')
        a.button__primary(href='#') More 
    .about__column-two
        h2.about__title So what's this all about?
        p.about__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis at suscipit dolor odio. Laborum vel id voluptatibus vitae officia, ipsum iste at maiores, veniam officiis aut magnam facere. Repellendus, fugit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis at suscipit dolor odio. Laborum vel id voluptatibus vitae officia, ipsum iste at maiores, veniam officiis aut magnam facere. Repellendus, fugit.
        p.about__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum provident quod obcaecati consequuntur, tenetur architecto eum non veritatis accusantium cumque quis voluptatibus id laudantium exercitationem dolor deserunt nesciunt voluptate rem?
        a.button__primary(href='#') Continue Reading
