.about__row
    .column__two 
        h3.about__section Interesting stuff
        .projects
            .projects__col
            img(src='#' alt='')
            .projects__col
            img(src='#' alt='')
            .projects__col
            img(src='#' alt='')
            .projects__col
            img(src='#' alt='')
        a.button__primary(href='#') More 
    .column__one
        h2.about__title
        p.about__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis at suscipit dolor odio. Laborum vel id voluptatibus vitae officia, ipsum iste at maiores, veniam officiis aut magnam facere. Repellendus, fugit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis at suscipit dolor odio. Laborum vel id voluptatibus vitae officia, ipsum iste at maiores, veniam officiis aut magnam facere. Repellendus, fugit.
        p.about__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum provident quod obcaecati consequuntur, tenetur architecto eum non veritatis accusantium cumque quis voluptatibus id laudantium exercitationem dolor deserunt nesciunt voluptate rem?
        a.button__primary(href='#') Continue Reading
