.cards__section
    img.cards__img(src='./assets/images/pic01.jpg' alt='')
    .cards__body
        h5.cards__body-title Put something here
        p.cards__body-subtitle Maybe here as well I think
        p.cards__body-text
            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.

.cards__section
    img.cards__img(src='./assets/images/pic02.jpg' alt='')
    .cards__body
        h5.cards__body-title An interesting title
        p.cards__body-subtitle This is also an interesting subtitle
        p.cards__body-text
            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.

.cards__section
    img.cards__img(src='./assets/images/pic03.jpg' alt='')
    .cards__body
        h5.cards__body-title Oh, and finally ...
        p.cards__body-subtitle Here's another intriguing subtitle
        p.cards__body-text
            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.