.card
    img.card__img(src='./assets/images/pic01.jpg' alt='')
    .card__body
        h5.card__body-title Put something here
        p.card__body-subtitle Maybe here as well I think
        p.card__body-text
            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.

.card
    img.card__img(src='./assets/images/pic02.jpg' alt='')
    .card__body
        h5.card__body-title An interesting title
        p.card__body-subtitle This is also an interesting subtitle
        p.card__body-text
            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.

.card
    img.card__img(src='./assets/images/pic03.jpg' alt='')
    .card__body
        h5.card__body-title Oh, and finally ...
        p.card__body-subtitle Here's another intriguing subtitle
        p.card__body-text
            | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.