* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $dark-color;
    font-size: 16px;
    font-weight: 300;
    font-family: $main-font;
    background-image: url(../assets/images/bg01.png);
}

a {
    color: $dark-color;
}