$primary-color: #f2453e;
$secondary-color: #1591c4;
$dark-color: #444444;
$gray-primary: #565656;
$light-dark: #696969;
$ligh-dark: #696964;
$white: #fff;

$main-font: 'Open Sans', sans-serif;
$second-font: 'Oleo Script', cursive;

$box-shadow: 1px 3px 7px 2px #0000001f;