doctype
html(lang="es")
    head
        include includes/head.pug
    body
        block header
            include blocks/header.pug
        main.main
            section.banner
                include blocks/banner.pug