doctype
html(lang="es")
    head
        include includes/head
    body
        block header
            include blocks/header
        main.main
            section.banner
                include includes/banner
            section.cards
                include includes/cards
            section.about
                include includes/about
        footer.footer
            block footer
                include blocks/footer