.banner {
    margin: 0 6rem;

    .row {
        background-color: $white;
        padding: 3rem;
        display: flex;
        border-radius: 6px;
        box-shadow: $box-shadow;

        .column__one {
            width: 60%;

            & h2 {
                font-size: 3rem;
                margin: 1rem 0;
            }
        }
        .column__one p {
            font-size: 2rem;
        }
        .column__two {
            width: 40%;
            display: grid;
            align-content: center;

            &-items li {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .banner {
        margin: 0 1rem;

        .row {
            padding: 2rem;
            display: block;

            .column__one, .column__two {
                width: 100%;
            }
        }
    }
}